main{
    display: flex;
    align-items: center;
    padding: 50px;
}

.loggedout img{
    width: 400px;
    padding: 40px;
}

.loggedout h1{
    font-size: 3em;
    font-weight: 750;
    padding: 40px;
}

.loggedout p{
    padding: 40px;
}

strong{
    font-weight: 900;
}

.pie{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: grid;
}


